.hero::before {
  z-index: -1;
  top: -10%;
  /* left: 20%; */
  /* position: relative; */
  position: absolute;
  content: "";
  background-image: url("../../assets/legal-ai.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  opacity: 0.7;
}
.balckk::before {
  z-index: 10;
  top: -10%;
  position: absolute;
  /* position: fixed; */
  content: "";
  /* background-image: url("../../assets/legal-ai.webp"); */
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 20%;
}
.swiper-button-next {
  position: absolute;
  top: 95%;
  right: 25px;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.swiper-button-next::hover {
  border: 2px solid white;
  border-radius: 50%;
}
.swiper-button-next::after {
  content: "";
  background-image: url("../../assets/arrow_right.svg");
  background-repeat: no-repeat;
  color: #ffffff;
  height: 50px;
  width: 50px;
  position: absolute;
  background-position: center;
  opacity: 1;
}
.swiper-button-prev {
  position: absolute;
  top: 95%;
  left: 93%;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  width: 40px;
  opacity: 1;
}
.swiper-button-prev::after {
  position: absolute;
  content: "";
  top: -12%;
  left: 19%;
  background-image: url("../../assets/arrow_left.svg");
  background-repeat: no-repeat;
  color: #ffffff;
  height: 50px;
  width: 50px;
  background-position: center;
  opacity: 1;
}
/* .swiper-button-prev::before {
  position: absolute;
  content: "";
  top: 95%;
  left: 94%;
  color: #ffffff;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url("../../assets/arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center center;
} */
.need::before{
  position: absolute;
  content: "";
  background-image: url("../../assets/NeedImg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
 background-size: 110%;
 opacity: 0.95;
}
.newsImg{
  background-image: url('../../assets/backImg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}